body {
  font-family: 'Raleway', sans-serif;
  color: hsla(274, 0%, 11%, 1);
  letter-spacing: 5px;
}
.jumbo {
  background-image: url('./food.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}
.branding {
  position: absolute;
  top: 450px;
  left: 350px;
  color: white;
  padding: 20px;
  background: hsla(0, 0%, 37%, 0.8);
}
.recipe {
  margin: 20px;
}
.card {
  margin: 20px;
}
.animated {
  animation: fadeInDown 2s;
}

@keyframes fadeInDown {
 0% {
    opacity: 0;
    transform: translateY(-40px);
 }
 100% {
    opacity: 1;
    transform: translateY(0);
 }
}

.recipe-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar-fixed {
  color: #69f0ae;
  text-shadow: -1px 0 #00c853, 0 1px #00c853, 1px 0 #00c853, 0 -1px #00c853;
}
.action-btn {
  float: right;
}
.new-recipe-img {
  background-image: url("./cookies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.new-recipe {
  background: #757575;
  opacity: 0.9;
  padding: 30px;
}
.add-new-header {
  color: #eeff41;
  text-align: center;
}
.input-field label {
     color: #eeff41;
     font-weight: bold;
 }
